{# empty Twig template #}
{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Testimonial/Components/assets/css/testimonial.css') }}
{{ set_assets('applications/Testimonial/Components/assets/js/testimonial.js') }}
{% set set_title =
    {
        0:{'value':'mr','text':'Mr'},
        1:{'value':'mrs','text':'Mrs'},
        2:{'value':'miss','text':'Miss'},
        3:{'value':'dr','text':'Dr'},
        4:{'value':'prof','text':'Prof'}
    }
%}

{% if item.name != '' %}
    {% set item_name = item.name %}
{% elseif user.id %}
    {% set item_name = user.name %}
{% endif %}

{% if item.image != '' %}
    {% set image_file = item.media_file %}
{% elseif user.id %}
    {% set image_file = user.media_file %}
{% endif %}

<form id="main-edit-form" action="{{ friendly_url('app=testimonial&com=testimonial&subset=testimonial&task=save&controller=TestimonialController') }}" class="form-horizontal" method="post" role="form" enctype="multipart/form-data">

    <div class="well well-sm">Add/Edit Testimonial  </div>

    <div >
        {{ forms.input('title', 'text', item.title, 'Title') }}
        {{ forms.input('testimony', 'editor', item.testimony, 'Testimony') }}
        <div>
            <div class="form-group image-group">
                <label for="website" class="col-sm-3 control-label">Person Detail</label>
                <div class="col-sm-9 kazicode-form-field">
                    <div class="col-md-6">
                        {{ forms.input('user_title', 'select', item.user_title, 'Title', null, null, null, null, set_title) }}
                        {{ forms.input('name', 'text', item_name, 'Name') }}
                        {{ forms.input('company', 'text', item.company, 'Company') }}
                    </div>
                    <div class="col-md-6">
                        <div class="form-group image-group">
                            <div class="photo photo-input">
                                <div class="photo-wrapper">
                                    {% if image_file != '' %}
                                        <img src="{{ resized_image(image_file, 90,90) }}" alt="{{ item.title }}" title="{{ item.title }}">
                                    {% else %}
                                        <i class="fa fa-plus"></i> Add Photo
                                    {% endif %}
                                </div>
                                <input class="upload_photo" type="file"  name="form[image]" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>

            </div> 
        </div> 
    </div> 

    {{ forms.input('image_default', 'hidden', item.image|default(user.avatar)) }}
    {{ forms.input('id', 'hidden', item.id) }}
    {{ forms.input('view', 'hidden', 'edit') }}
    {{ forms.input('twig', 'hidden', 'index') }}
    {{ forms.input('return_url', 'hidden', null) }}

    <a class="btn btn-danger btn-sm" href="{{ friendly_url('app=testimonial&com=testimonial&subset=testimonial') }}" title='Cancel'>Cancel</a>
    <input class="btn btn-success btn-sm" name="id" type="submit" value="Save">
    <br>
    <br>

    {{ forms.input('_token' ) }}

</form>
