{# empty Twig template #}

{{ set_assets('applications/Testimonial/Components/assets/css/testimonial.css') }}

<div class="testimonial-list">
    <ul >

        {% if items|length > 0 %}
            {% for item in items %}

                <li class="clearfix">
                    <img src="{{ resized_image(item.media.file,90,90) }}" class="avatar" alt="{{ item.title }}" title="{{ item.title }}" width="90px">
                    <div class="testimonial">
                        <div class="header bg-light-blue">
                            {{ item.title }} 
                        </div>
                        <div class="body">
                            <div>
                                <i class="fa fa-quote-left fa-2x"></i> 
                                {{ item.testimony|raw }}  
                                <i class="fa fa-quote-right fa-2x"></i>
                                <br>
                            </div>
                            <div class="meta-bottom">
                                <i class="fa fa-user"></i> {{ item.user_title|capitalize }}: {{ item.name }} &nbsp;&nbsp;
                                {% if item.company != '' %}
                                    <i class="fa fa-briefcase"></i> {{ item.company }} 
                                {% endif %}
                            </div>
                            <div class="meta-bottom">
                                <i class="fa fa-clock-o"></i> {{ item.date_created|date('d M Y H:i') }} 
                            </div>
                        </div>
                    </div>
                </li>

            {% endfor %}
        {% endif %}

    </ul>
</div>

<div class="clr"></div>

{% include "items.pagination.twig"%}

