{# empty Twig template #}
{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Testimonials/assets/css/testimonial.css') }}

<h1 class="component-header">{{ item.title }}</h1>

<div>

    <div class="text-center">
        <img src="{{ resized_image(item.image_file) }}" class="" alt="{{ item.title }}" title="{{ item.title }}" width="90px">
    </div>

    <div class="testimonial">

        <div class="testimonial-body">
            <div>
                <i class="fa fa-quote-left fa-2x"></i> 
                {{ item.testimony|raw }}  
                <i class="fa fa-quote-right fa-2x"></i>
                <br>
            </div>

            <br>

            <div>
                <i class="fa fa-user"></i> <i>{{ item.user_title|capitalize }}:</i> {{ item.name }} &nbsp;&nbsp;<br>
                {% if item.company != '' %}
                    <i class="fa fa-briefcase"></i> {{ item.company }} <br>
                {% endif %}
                <i class="fa fa-clock-o"></i> {{ item.date_created|date('d M Y',  document.timezone) }} <br>
            </div>
        </div>

    </div>
</div>

<br>
<div class="text-center"> 
    <a class="btn btn-primary" href="{{ generate_url('testimonials.testimonials') }}">Other Testimonies</a>
</div>
<br>
<br>
