{# empty Twig template #}

{{ set_assets('applications/Testimonials/assets/css/testimonial.css') }}

<h1 class="component-header">Testimonial</h1>

<div class="testimonial-list">
    <ul >

        {% if items|length > 0 %}
            {% for item in items %}

                <li class="clearfix testimonial-wrapper">
                    <a class="testimonial-image" href="{{ generate_url('testimonials.testimonials.detail', {'id':item.id})}}">
                        <img src="{{ resized_image(item.image_file, 90, 90) }}" class="avatar img-circle" alt="{{ item.title }}" title="{{ item.title }}" width="90px">
                    </a>
                    <div class="testimonial">
                        <div class="testimonial-title">
                            <a href="{{ generate_url('testimonials.testimonials.detail', {'id':item.id})}}">
                                {{ item.title }} 
                            </a>
                        </div>
                        <div class="testimonial-body">
                            <div>
                                <i class="fa fa-quote-left fa-2x"></i> 
                                <p>
                                    {{ item.testimony|raw|striptags|truncate(400) }}  
                                </p>
                                <i class="fa fa-quote-right fa-2x"></i>
                                <br>
                            </div>

                            <br>

                            <div>
                                <i class="fa fa-user"></i> <i>{{ item.user_title|capitalize }}:</i> {{ item.name }} &nbsp;&nbsp;<br>
                                {% if item.company != '' %}
                                    <i class="fa fa-briefcase"></i> {{ item.company }} <br>
                                {% endif %}
                                <i class="fa fa-clock-o"></i> {{ item.date_created|date('d M Y',  document.timezone) }} <br>
                            </div>
                        </div>
                    </div>
                </li>

            {% endfor %}
        {% endif %}

    </ul>
</div>

<div class="clearfix"></div>

{% include "items.pagination.twig"%}

